/data/*
!/data/.gitkeep
!/data/kaggle-llm-science-exam-with-context/
!/data/llm-se-add-context-nb/

/dist/*
!/dist/dataset-metadata.json
!/dist/wheels
!/dist/wheels/dataset-metadata.json

/dash_server/
/.mypy_cache/
/gcp/
